html{
	background-image: url("../images/jungle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	font-family: 'Kranky', cursive;
	color: rgb(241, 230, 65);
	font-size: 20px;
}
h1{
	font-family: 'Frijole', cursive;
	font-size: 40pt;
	text-align: center;
	margin-bottom: 0;
}
h3 {
	margin-top: 0;
	font-size: 30px;
}
.instructions{
	margin: 20px;
	line-height: 18px;
	width: 50%;
}
.instructions, .gameDiv {
	float: left;
}
.gameDiv {
	position: absolute;
	right: 0px;
	width: 45%;
	font-size: 15px;
	text-align: center;
}
.monkies {
	width: 60%;
	height: auto;
}
.bananaBox{
	clear: both;
	width: 100%;
}
.bananas{
	height: 60px;
	width: 100px;
	margin: 5px;
}
.numberToMatch, .userTotal{
	width: 100%;
	line-height: 10px;

}
#blueBanana{
	color: rgb(72, 72, 232);
}
#greenBanana{
	color: green;
}
#pinkBanana{
	color: rgb(238, 108, 130);
}
#yellowBanana{
	color: rgba(187, 172, 6, 0.961);
}
